<section class="flex justify-between">
  <div class="flex flex-col items-start justify-center gap-10 p-10 h-[60vh]">
    <h1 class="text-5xl font-bold"><span class="text-[var(--primary)]">Upgrades</span> your tech setup</h1>

    <p class="text-base text-[var(--text-muted)]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse eos similique provident enim corporis libero eveniet <br>eum quis incidunt ipsum harum, perspiciatis officia, optio vel natus accusantium fugit molestiae beatae!</p>

    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Shop Now</button>
  </div>
</section>
