<section class="p-10">
  
  <h1 class="text-5xl font-bold">Featured Categories</h1>
 
  <div class="flex gap-15 mt-10">
    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Laptop</button>
    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Audio</button>
    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Gaming</button>
    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Phone</button>
    <button class="bg-transparent px-8 py-3 border border-[var(--border)]] rounded-full hover:bg-[var(--primary)] transition duration-300 cursor-pointer">Monitor</button>
  </div>

</section>
